<p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Ver esta publicación", post %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva publicación", new_post_path %>
